/* General styling for the weather component */
.weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-image: url('/public/weather-bg.jpg'); /* Make sure the image is placed in the public folder */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.weather-container.light {
  color: black;
}

.weather-container.dark {
  color: white;
}

.weather-container input {
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 5px;
}
